<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">I have always be interested in software development. My experience is broad: from simple web design, to full-stack web application development. I have worked in the goverment sector and both public and private companies or individuals. I always enjoy bringing a project or dream into reality from start to finish.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
