<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome</h1>
            <hr>
            <p>15+ years of experience with software development. Wide range of experience starting with ColdFusion, PHP, and Ruby on Rails. Along with JavaScript, AngularJS, CSS, HTML, and XML.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
