<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-money wow bounceIn text-primary"></i>
                    <h3>Billing</h3>
                    <p class="text-muted">All work is billed on a hourly basis with consulting-only services at a fixed price. My rates are non negotiable.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rocket wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to go!</h3>
                    <p class="text-muted">Agile and responsive design and development. No project to simple or too complex.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-star-half-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">The latest development tools and languages, to provide the right solution for your project; as well as technologies that have been in the industry for decades.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">I share my passion and pride of software development and apply this to all my work. I take the time to educate people on how their projects come together. </p>
                </div>
            </div>
        </div>
    </div>
</section>
